{% extends 'base.html.twig' %}

{% block title %}Notes POS{% endblock %}

{% block body %}
    <h1>Notes POS</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notes_p_o.id }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ notes_p_o.annee ? notes_p_o.annee|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Qf</th>
                <td>{{ notes_p_o.qf }}</td>
            </tr>
            <tr>
                <th>Vet</th>
                <td>{{ notes_p_o.vet }}</td>
            </tr>
            <tr>
                <th>Ags</th>
                <td>{{ notes_p_o.ags }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ notes_p_o.niveau }}</td>
            </tr>
            <tr>
                <th>Potentiel</th>
                <td>{{ notes_p_o.potentiel }}</td>
            </tr>
            <tr>
                <th>Appréciation complète</th>
                <td>{{ notes_p_o.appreciationComplet }}</td>
            </tr>
            <tr>
                <th>Personnel</th>
                <td>{{ notes_p_o.personnel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('notes_p_o_s_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('notes_p_o_s_edit', {'id': notes_p_o.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('notes_p_o_s/_delete_form.html.twig') }}
{% endblock %}
