{% extends 'base.html.twig' %}

{% block title %}Liste des Suivie Après Traitement{% endblock %}

{% block body %}
    <h1>Liste des Suivie Après Traitement</h1>
    <a href="{{ path('suivie_apres_traitement_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
    <table id="user_liste" class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Liste suive après traitement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suivie_apres_traitement in suivie_apres_traitements %}
            <tr>
               {#  <td>{{ suivie_apres_traitement.id }}</td> #}
                <td>{{ suivie_apres_traitement.libelle }}</td>
                <td>
                    <a href="{{ path('suivie_apres_traitement_show', {'id': suivie_apres_traitement.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('suivie_apres_traitement_edit', {'id': suivie_apres_traitement.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('suivie_apres_traitement_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>

    {% block javascripts %}
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready( function () {
                $('#user_liste').DataTable();
            } );
        </script>
    {% endblock %}
{% endblock %}
