{% extends 'base.html.twig' %}

{% block title %}Liste suivies après traitements{% endblock %}

{% block body %}
<div class="card">
        <div class="card-header bg-gradient-primary">
            <h4 class="card-title justify-content-between font-weight-bold">Liste suivies après traitements</h4>
        </div>
        <div class="card-comments m-2">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success text-white m-2">
                {{ message }}  
            </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-white m-2">
                {{ message }}
            </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
            <div class="alert alert-warning text-white m-2">
                {{ message }}
            </div>
            {% endfor %}
            <div class="block-grid col-12 mb-2">
                <a href="{{ path('suivie_apres_traitement_new') }}" class="btn btn-sm bg-gradient-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
            </div>
            <div class="table-responsive table-condensed table-responsive-sm table-striped">
                <table id="user_liste" class="table table-sm table-bordered">
                    <thead class="text-center">
                        <tr class="text-center text-dark">
                            <th class="col-auto text-center">Liste suive après traitement</th>
                            <th class="col-auto text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for suivie_apres_traitement in suivie_apres_traitements %}
                        <tr>
                            <td>{{ suivie_apres_traitement.libelle }}</td>
                            <td class="text-center col-2">
                                <a href="{{ path('suivie_apres_traitement_show', {'id': suivie_apres_traitement.id}) }}" class="btn btn-sm bg-gradient-info icon-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                {% if is_granted("ROLE_SUPERVISEUR") %}
                                    <a href="{{ path('suivie_apres_traitement_edit', {'id': suivie_apres_traitement.id}) }}" class="btn btn-sm bg-gradient-yellow"><i class="fa fa-edit icon-sm" aria-hidden="true"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="text-center text-danger" colspan="2">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        
        </div>
        <div class="card-footer bg-gradient-white">
            <a href="{{ path('suivie_apres_traitement_new') }}" class="btn btn-sm bg-gradient-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
        </div>
    </div>

    {% block javascripts %}
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready( function () {
                $('#user_liste').DataTable();
            } );
        </script>
    {% endblock %}
{% endblock %}