{% extends 'base.html.twig' %}

{% block title %}TypesCommunes index{% endblock %}

{% block body %}
    <h1>TypesCommunes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for types_commune in types_communes %}
            <tr>
                <td>{{ types_commune.id }}</td>
                <td>{{ types_commune.type }}</td>
                <td>
                    <a href="{{ path('types_communes_show', {'id': types_commune.id}) }}">show</a>
                    <a href="{{ path('types_communes_edit', {'id': types_commune.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('types_communes_new') }}">Create new</a>
{% endblock %}
