{% extends 'base.html.twig' %}

{% block title %}TypesCommunes{% endblock %}

{% block body %}
    <h1>TypesCommunes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ types_commune.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ types_commune.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('types_communes_index') }}">back to list</a>

    <a href="{{ path('types_communes_edit', {'id': types_commune.id}) }}">edit</a>

    {{ include('types_communes/_delete_form.html.twig') }}
{% endblock %}
