{% extends 'base.html.twig' %}

{% block title %}Liste Districts{% endblock %}

{% block body %}
    <h1>Liste Districts</h1>
    <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('districts_recherche') }}">
        <div class="input-group">
            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
            <input type="text" name="search" class="form-control" placeholder="Search...">
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>District</th>
                <th>Région</th>
                <th>Province</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for district in districts %}
            <tr>
                {# <td>{{ district.id }}</td> #}
                <td>{{ district.district }}</td>
                <td>{{ district.region }}</td>
                <td>{{ district.region.province }}</td>
                <td>
                    <a href="{{ path('districts_show', {'id': district.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('districts_edit', {'id': district.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(districts) }}
    </div>

    <a href="{{ path('districts_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
