{% extends 'base.html.twig' %}

{% block title %}Liste Diplômes{% endblock %}

{% block body %}
    <h1>Liste Diplômes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Abbréviation</th>
                <th>Type</th>
                <th>Est diplôme militaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diplome in diplomes %}
            <tr>
                <td>{{ diplome.id }}</td>
                <td>{{ diplome.libelle }}</td>
                <td>{{ diplome.abbreviation }}</td>
                <td>{{ diplome.type }}</td>
                <td>{{ diplome.estDiplomeMilitaire ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('diplomes_show', {'id': diplome.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('diplomes_edit', {'id': diplome.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('diplomes_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
