{% extends 'base.html.twig' %}

{% block title %}Liste Diplômes{% endblock %}

{% block body %}
    <h1>Liste Diplômes</h1>
    <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('diplomes_recherche') }}">
        <div class="input-group">
            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
            <input type="text" name="search" class="form-control" placeholder="Search...">
        </div>
    </form>
    <a href="{{ path('diplomes_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
    <table id="user_liste" class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Libelle</th>
                <th>Abbréviation</th>
                <th>Type</th>
                <th>Est diplôme militaire</th>
                <th>Domaine</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diplome in diplomes %}
            <tr>
                {# <td>{{ diplome.id }}</td> #}
                <td>{{ diplome.libelle }}</td>
                <td>{{ diplome.abbreviation }}</td>
                <td>{{ diplome.type }}</td>
                <td>{{ diplome.estDiplomeMilitaire ? 'Oui' : 'Non' }}</td>
                <td>{{ diplome.domaine }}</td>
                <td>{{ diplome.niveau }}</td>
                <td>
                    <a href="{{ path('diplomes_show', {'id': diplome.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('diplomes_edit', {'id': diplome.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <div class="navigation">
        {{ knp_pagination_render(diplomes) }}
    </div> #}

    <a href="{{ path('diplomes_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>

    {% block javascripts %}
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready( function () {
                $('#user_liste').DataTable();
            } );
        </script>
    {% endblock %}
{% endblock %}
