{% extends 'base.html.twig' %}

{% block title %}Diplômes{% endblock %}

{% block body %}
    <h1>Diplômes</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ diplome.id }}</td>
            </tr> #}
            <tr>
                <th>Libelle</th>
                <td>{{ diplome.libelle }}</td>
            </tr>
            <tr>
                <th>Abbréviation</th>
                <td>{{ diplome.abbreviation }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ diplome.type }}</td>
            </tr>
            <tr>
                <th>Est diplôme militaire</th>
                <td>{{ diplome.estDiplomeMilitaire ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ diplome.domaine }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ diplome.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('diplomes_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('diplomes_edit', {'id': diplome.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('diplomes/_delete_form.html.twig') }}
{% endblock %}
