{% extends 'base.html.twig' %}

{% block title %}Liste Grades{% endblock %}

{% block body %}
    <h1>Liste Grades</h1>
    {# <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('grades_recherche') }}">
        <div class="input-group">
            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
            <input type="text" name="search" class="form-control" placeholder="Search...">
        </div>
    </form> #}
    <a href="{{ path('grades_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
    <table id="user_liste" class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Grade</th>
                <th>Abbréviation</th>
                <th>Rang</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                {# <td>{{ grade.id }}</td> #}
                <td>{{ grade.grade }}</td>
                <td>{{ grade.abbreviation }}</td>
                <td>{{ grade.rang }}</td>
                <td>
                    <a href="{{ path('grades_show', {'id': grade.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('grades_edit', {'id': grade.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <div class="navigation">
        {{ knp_pagination_render(grades) }}
    </div> #}

    <a href="{{ path('grades_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>

    {% block javascripts %}
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready( function () {
                $('#user_liste').DataTable();
            } );
        </script>
    {% endblock %}
{% endblock %}
