{% extends 'base.html.twig' %}

{% block title %}Communes{% endblock %}

{% block body %}
    <h1>Communes</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ commune.id }}</td>
            </tr> #}
            <tr>
                <th>Commune</th>
                <td>{{ commune.commune }}</td>
            </tr>
            <tr>
                <th>Type Commune</th>
                <td>{{ commune.type }}</td>
            </tr>
            <tr>
                <th>District</th>
                <td>{{ commune.district }}</td>
            </tr>
            <tr>
                <th>Région</th>
                <td>{{ commune.district.region }}</td>
            </tr>
            <tr>
                <th>Province</th>
                <td>{{ commune.district.region.province  }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('communes_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('communes_edit', {'id': commune.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('communes/_delete_form.html.twig') }}
{% endblock %}
