{% extends 'base.html.twig' %}

{% block title %}Liste Affectations Personnels{% endblock %}

{% block body %}
    <h1>Liste Affectations Personnels</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Personnel</th>
                <th>Date d'affectation</th>
                <th>Date de disponibilité</th>
                <th>Reférence de disponibilité</th>
                {# <th>Date reférence de disponibilité</th> #}
                <th>Motif de l'affectation</th>
                {# <th>Situation</th> #}
                <th>Motif de l'annulation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affectations_personnel in affectations_personnels %}
            <tr>
                {# <td>{{ affectations_personnel.id }}</td> #}
                <td>{{ affectations_personnel.personnel }}</td>
                <td>{{ affectations_personnel.dateAffectation ? affectations_personnel.dateAffectation|date('d/m/Y') : '' }}</td>
                <td>{{ affectations_personnel.dateDisponibilite ? affectations_personnel.dateDisponibilite|date('d/m/Y') : '' }}</td>
                <td>{{ affectations_personnel.referenceDisponibilite }}</td>
                {# <td>{{ affectations_personnel.dateReferenceDisponibilite ? affectations_personnel.dateReferenceDisponibilite|date('d/m/Y') : '' }}</td> #}
                <td>{{ affectations_personnel.motifAffectation }}</td>
                {# <td>{{ affectations_personnel.situation }}</td> #}
                <td>{{ affectations_personnel.motifAnnulation }}</td>
                <td>
                    <a href="{{ path('affectations_personnels_show', {'id': affectations_personnel.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('affectations_personnels_edit', {'id': affectations_personnel.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(affectations_personnels) }}
    </div>

    <a href="{{ path('affectations_personnels_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
