{% extends 'base.html.twig' %}

{% block title %}Analyse des Personnels{% endblock %}

{% block body %}
    <h1>Visionnage des personnels</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}

        {# <input type="submit"/> #}
    {{ form_end(form) }}
    <hr>
    <table id="user_liste" class="table">
        <thead>
            <tr>
                <th style="width:125px;">Photos</th>
                <th>Information personnels</th>
                <th>Information Conjoint</th>
            </tr>
        </thead>
        <tbody>
        {% for personnel in personnels %}            
            <tr>
                <td style="vertical-align:middle;">
                    {% for photo in photos %}
                        {% if photo.personnel.id == personnel.id %}
                            <img src="/photos/{{ photo.photo }}" alt="{{ photo.personnel }}" style="width:100px;height:120px">
                        {% endif %}                
                    {% endfor %}
                </td>
                <td style="vertical-align:middle;">
                {{ personnel.grade }} {{ personnel.nom }} {{ personnel.prenoms }}<br>
                Née le : {{ personnel.dateNaissance ? personnel.dateNaissance|date('d/m/Y') : '' }} à {{ personnel.lieuNaissance }}<br>
                Numéro CIN : {{ personnel.numCin }}<br>
                sexe : {{ personnel.sexe ? 'Féminin' : 'Masculin' }}<br>
                Téléphone : {{ personnel.telephone }}<br>
                Adresse : {{ personnel.adresse }}<br>
                Affectation : <br>
                {% for affectations_personnel in affectations %}
                    {% if affectations_personnel.personnel != null and affectations_personnel.personnel.id == personnel.id %}
                        {{ affectations_personnel.unite }},&nbsp;
                    {% endif %} 
                {% endfor %}
                </td>
                <td style="vertical-align:middle;">
                    {% for conjoint in conjoints %}
                        {% if conjoint.personnel.id == personnel.id %}
                            {{ conjoint.nom }} {{ conjoint.prenom }}<br>
                            Numéro CIN : {{ conjoint.numeroCin }}<br>
                            {% for fonctionConjoint in fonctionConjoints %}
                                {% if fonctionConjoint.conjoint.id == conjoint.id %}
                                    {{ fonctionConjoint.libelle }}<br>
                                    {{ fonctionConjoint.employeur }}<br>
                                    {{ fonctionConjoint.adresseEmployeur }}<br>
                                {% endif %}                            
                            {% else %}
                                Aucune fonction trouvé
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        Aucun partenaire trouvé
                    {% endfor %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
