{% extends 'base.html.twig' %}

{% block title %}Niveau Diplôme{% endblock %}

{% block body %}
    <h1>Niveau Diplôme</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ niveau_diplome.id }}</td>
            </tr> #}
            <tr>
                <th>Libelle</th>
                <td>{{ niveau_diplome.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('niveau_diplome_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('niveau_diplome_edit', {'id': niveau_diplome.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('niveau_diplome/_delete_form.html.twig') }}
{% endblock %}
