{% extends 'base.html.twig' %}

{% block title %}Détails du Motifs de Réintegration{% endblock %}

{% block body %}
    <h1>Détails du Motifs de Réintegration</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ details_motifs_reintegration.id }}</td>
            </tr> #}
            <tr>
                <th>Détails du Motifs de Réintegration</th>
                <td>{{ details_motifs_reintegration.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('details_motifs_reintegration_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    <a href="{{ path('details_motifs_reintegration_edit', {'id': details_motifs_reintegration.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('details_motifs_reintegration/_delete_form.html.twig') }}
{% endblock %}
