{% extends 'base.html.twig' %}

{% block title %}Fonctions{% endblock %}

{% block body %}
    <h1>Fonctions</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ fonction.id }}</td>
            </tr> #}
            <tr>
                <th>Libelle</th>
                <td>{{ fonction.libelle }}</td>
            </tr>
            <tr>
                <th>Abbréviation</th>
                <td>{{ fonction.abbreviation }}</td>
            </tr>
            <tr>
                <th>Hierarchie</th>
                <td>{{ fonction.hierarchie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fonctions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('fonctions_edit', {'id': fonction.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('fonctions/_delete_form.html.twig') }}
{% endblock %}
