{% extends 'base.html.twig' %}

{% block title %}Modifier fréquence de traitement{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header bg-gradient-primary">
            <h4 class="card-title justify-content-between font-weight-bold">Modifier fréquence de traitement</h4>
        </div>
        <div class="card-comments m-2">
            {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-white m-2">
                {{ message }}
            </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
            <div class="alert alert-warning text-white m-2">
                {{ message }}
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 m-1">
                    {{ include('frequence_traitement/_form.html.twig', {'button_label': 'Modifier'}) }}
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="card-footer bg-gradient-white">
            <div class="row">
                <div class="col-1">
                    <a href="{{ path('frequence_traitement_index') }}" class="btn btn-sm bg-gradient-primary m-2"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                </div>
                <div class="col-1">{{ include('frequence_traitement/_delete_form.html.twig') }}</div>
            </div>
        </div>
    </div>
{% endblock %}