{% extends 'base.html.twig' %}

{% block title %}Détail décision d'affectation{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header bg-gradient-primary">
        <h4 class="card-title justify-content-between font-weight-bold">Détail décision d'affectation</h4>
    </div>
    <div class="card-comments justify-content-center m-2">
        <div class="row justify-content-center">
            <div class="col-auto justify-content-center">
                <table class="table table-sm">
                    <tbody>
                        <tr class="col-auto">
                            <th>Reférence de la décision</th>
                            <td>{{ decisions_affectation.referenceDecision }}</td>
                        </tr>
                        <tr>
                            <th>Date de la décision</th>
                            <td>{{ decisions_affectation.dateDecision ? decisions_affectation.dateDecision|date('d/m/Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Genre de décision</th>
                            <td>{{ decisions_affectation.genre }}</td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer bg-gradient-white">
        <div class="row">
            <div class="col-1">
                <a href="{{ path('decisions_affectations_index') }}" class="btn btn-sm bg-gradient-primary m-2"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
            </div>
            <div class="col-1">
                <a href="{{ path('decisions_affectations_edit', {'id': decisions_affectation.id}) }}" class="btn btn-sm bg-gradient-success m-2"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>
            </div>
            <div class="col-1 ml-2">
                {{ include('decisions_affectations/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}