{% extends 'base.html.twig' %}

{% block title %}Permissions index{% endblock %}

{% block body %}
    <h1>Permissions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Annee</th>
                <th>Date_depart</th>
                <th>Date_fin</th>
                <th>Duree</th>
                <th>Reliquat</th>
                <th>Type_permission</th>
                <th>Lieu_jouissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
            <tr>
                <td>{{ permission.id }}</td>
                <td>{{ permission.annee ? permission.annee|date('Y-m-d') : '' }}</td>
                <td>{{ permission.dateDepart ? permission.dateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ permission.dateFin ? permission.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ permission.duree }}</td>
                <td>{{ permission.reliquat }}</td>
                <td>{{ permission.typePermission }}</td>
                <td>{{ permission.lieuJouissance }}</td>
                <td>
                    <a href="{{ path('permissions_show', {'id': permission.id}) }}">show</a>
                    <a href="{{ path('permissions_edit', {'id': permission.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('permissions_new') }}">Create new</a>
{% endblock %}
