{% extends 'base.html.twig' %}

{% block title %}Liste Permissions{% endblock %}

{% block body %}
    <h1>Liste Permissions</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Année</th>
                <th>Date de départ</th>
                <th>Date de fin</th>
                <th>Durée</th>
                <th>Reliquat</th>
                <th>Type de permission</th>
                <th>Lieu de jouissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
            <tr>
                {# <td>{{ permission.id }}</td> #}
                <td>{{ permission.annee ? permission.annee|date('d/m/Y') : '' }}</td>
                <td>{{ permission.dateDepart ? permission.dateDepart|date('d/m/Y') : '' }}</td>
                <td>{{ permission.dateFin ? permission.dateFin|date('d/m/Y') : '' }}</td>
                <td>{{ permission.duree }}</td>
                <td>{{ permission.reliquat }}</td>
                <td>{{ permission.typePermission }}</td>
                <td>{{ permission.lieuJouissance }}</td>
                <td>
                    <a href="{{ path('permissions_show', {'id': permission.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('permissions_edit', {'id': permission.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('permissions_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
