{% extends 'base.html.twig' %}

{% block title %}Permissions{% endblock %}

{% block body %}
    <h1>Permissions</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ permission.id }}</td>
            </tr> #}
            <tr>
                <th>Année</th>
                <td>{{ permission.annee ? permission.annee|date('Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date départ</th>
                <td>{{ permission.dateDepart ? permission.dateDepart|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{{ permission.dateFin ? permission.dateFin|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ permission.duree }}</td>
            </tr>
            <tr>
                <th>Reliquat</th>
                <td>{{ permission.reliquat }}</td>
            </tr>
            <tr>
                <th>Type de permission</th>
                <td>{{ permission.typePermission }}</td>
            </tr>
            <tr>
                <th>Lieu de jouissance</th>
                <td>{{ permission.lieuJouissance }}</td>
            </tr>
            <tr>
                <th>Personnel</th>
                <td>{{ permission.personnel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('permissions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('permissions_edit', {'id': permission.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('permissions/_delete_form.html.twig') }}
{% endblock %}
