{% extends 'base.html.twig' %}

{% block title %}Liste Personnels{% endblock %}

{% block body %}
    <h1>Liste Personnels</h1>
    <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('personnels_recherche') }}">
        <div class="input-group">
            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
            <input type="text" name="search" class="form-control" placeholder="Search...">
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Prénoms</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                {# <th>Nom du père</th> #}
                {# <th>Nom de la mère</th> #}
                <th>Numéro CIN</th>
                {# <th>Date CIN</th> #}
                {# <th>Lieu CIN</th> #}
                <th>Sexe</th>
                <th>Est marié</th>
                {# <th>Adresse</th> #}
                <th>Téléphone</th>
                <th>Téléphone ICE</th>
                {# <th>Date d'embauche</th> #}
                {# <th>Matricule</th> #}
                {# <th>Numéro CNAPS</th> #}
                {# <th>Est militaire</th> #}
                {# <th>Actif</th> #}
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personnel in personnels %}
            {% for photo in photos %}
                <tr>
                    {# <td valign="center">{{ personnel.id }}</td> #}
                    <td style="vertical-align:middle;">{{ personnel.nom }}</td>
                    <td style="vertical-align:middle;">{{ personnel.prenoms }}</td>
                    <td style="vertical-align:middle;">{{ personnel.dateNaissance ? personnel.dateNaissance|date('d/m/Y') : '' }}</td>
                    <td style="vertical-align:middle;">{{ personnel.lieuNaissance }}</td>
                    {# <td valign="center">{{ personnel.nomPere }}</td> #}
                    {# <td valign="center">{{ personnel.nomMere }}</td> #}
                    <td style="vertical-align:middle;">{{ personnel.numCin }}</td>
                    {# <td valign="center">{{ personnel.dateCin ? personnel.dateCin|date('d/m/Y') : '' }}</td> #}
                    {# <td valign="center">{{ personnel.lieuCin }}</td> #}
                    <td style="vertical-align:middle;">{{ personnel.sexe ? 'Féminin' : 'Masculin' }}</td>
                    <td style="vertical-align:middle;">{{ personnel.estMarie ? 'Oui' : 'Non' }}</td>
                    {# <td valign="center">{{ personnel.adresse }}</td> #}
                    <td style="vertical-align:middle;">{{ personnel.telephone }}</td>
                    <td style="vertical-align:middle;">{{ personnel.telephoneIce }}</td>
                    {# <td valign="center">{{ personnel.dateEmbauche ? personnel.dateEmbauche|date('d/m/Y') : '' }}</td> #}
                    {# <td valign="center">{{ personnel.matricule }}</td> #}
                    {# <td valign="center">{{ personnel.numeroCnaps }}</td> #}
                    {# <td valign="center">{{ personnel.estMilitaire ? 'Oui' : 'Non' }}</td> #}
                    {# <td valign="center">{{ personnel.actif ? 'Oui' : 'Non' }}</td> #}
                    <td style="vertical-align:middle;">
                        {% if photo.personnel.id == personnel.id %}
                            <img src="/photos/{{ photo.photo }}" alt="{{ photo.personnel }}" style="width:50px;height:60px">
                        {% endif %}
                    </td>
                    <td style="vertical-align:middle;">
                        <a href="{{ path('personnels_show', {'id': personnel.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                        <a href="{{ path('personnels_edit', {'id': personnel.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>                
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="21">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(personnels) }}
    </div>

    <a href="{{ path('personnels_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
