{% extends 'base.html.twig' %}

{% block title %}Liste Fonctions Conjoints{% endblock %}

{% block body %}
    <h1>Liste Fonctions Conjoints</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Libelle</th>
                <th>Abbréviation</th>
                <th>Lieu de travail</th>
                <th>Employeur</th>
                <th>Adresse de l'employeur</th>
                <th>Est fonctionnaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fonctions_conjoint in fonctions_conjoints %}
            <tr>
                {# <td>{{ fonctions_conjoint.id }}</td> #}
                <td>{{ fonctions_conjoint.libelle }}</td>
                <td>{{ fonctions_conjoint.abbreviation }}</td>
                <td>{{ fonctions_conjoint.lieuTravail }}</td>
                <td>{{ fonctions_conjoint.employeur }}</td>
                <td>{{ fonctions_conjoint.adresseEmployeur }}</td>
                <td>{{ fonctions_conjoint.estFonctionnaire ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('fonctions_conjoints_show', {'id': fonctions_conjoint.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('fonctions_conjoints_edit', {'id': fonctions_conjoint.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fonctions_conjoints_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
