{% extends 'base.html.twig' %}

{% block title %}Liste ExConjoints{% endblock %}

{% block body %}
    <h1>Liste ExConjoints</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Motif de rupture</th>
                <th>Date de rupture</th>
                <th>Reférence de rupture</th>
                <th>Date de reférence de rupture</th>
                <th>Adresse de la veuve/veuf</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ex_conjoint in ex_conjoints %}
            <tr>
                {# <td>{{ ex_conjoint.id }}</td> #}
                <td>{{ ex_conjoint.motifRupture }}</td>
                <td>{{ ex_conjoint.dateRupture ? ex_conjoint.dateRupture|date('d/m/Y') : '' }}</td>
                <td>{{ ex_conjoint.referenceRupture }}</td>
                <td>{{ ex_conjoint.dateReferenceRupture ? ex_conjoint.dateReferenceRupture|date('d/m/Y') : '' }}</td>
                <td>{{ ex_conjoint.adresseVeuve }}</td>
                <td>
                    <a href="{{ path('ex_conjoints_show', {'id': ex_conjoint.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('ex_conjoints_edit', {'id': ex_conjoint.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ex_conjoints_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
