{% extends 'base.html.twig' %}

{% block title %}Liste ruptures conjugales{% endblock %}

{% block body %}
<div class="card">
        <div class="card-header bg-gradient-primary">
            <h4 class="card-title justify-content-between font-weight-bold">Liste ruptures conjugales</h4>
        </div>
        <div class="card-comments m-2">
            <div class="block-grid col-12 mb-2">
                <a href="{{ path('ex_conjoints_new') }}" class="btn btn-sm bg-gradient-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
            </div>
            {% for message in app.flashes('success') %}
            <div class="alert alert-success text-white m-2">
                {{ message }}  
            </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-white m-2">
                {{ message }}
            </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
            <div class="alert alert-warning text-white m-2">
                {{ message }}
            </div>
            {% endfor %}
            <div class="table-responsive table-condensed table-responsive-sm table-striped">
                <table id="user_liste" style="width:100%" class="table table-sm table-bordered col-auto">
                    <thead class="text-center col-auto">
                        <tr class="text-center text-dark col-auto">
                            <th class="text-center col-auto">Personnel de la DGSR</th>
                            <th class="text-center col-auto">Ex-conjoint</th>
                            <th class="text-center col-auto">Motif de rupture</th>
                            <th class="text-center col-auto">Date de rupture</th>
                            <th class="text-center col-auto">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ex_conjoint in ex_conjoints %}
                        <tr>
                            <td>{{ ex_conjoint.conjoint.personnel }}</td>
                            <td>{{ ex_conjoint.conjoint }}</td>
                            <td>{{ ex_conjoint.motifRupture }}</td>
                            <td>{{ ex_conjoint.dateRupture ? ex_conjoint.dateRupture|date('d/m/Y') : '' }}</td>
                            <td class="text-center col-2">
                                <a href="{{ path('ex_conjoints_show', {'id': ex_conjoint.id}) }}" title="Voir" class="btn btn-sm bg-gradient-info icon-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                {% if is_granted("ROLE_SUPERVISEUR") %}
                                    <a href="{{ path('ex_conjoints_edit', {'id': ex_conjoint.id}) }}" title="Modifier" class="btn btn-sm bg-gradient-yellow"><i class="fa fa-edit icon-sm" aria-hidden="true"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="text-center text-danger" colspan="5">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        
        </div>
        <div class="card-footer bg-gradient-white">
            <a href="{{ path('ex_conjoints_new') }}" class="btn btn-sm bg-gradient-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
        </div>
    </div>

    {% block javascripts %}
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready( function () {
                $('#user_liste').DataTable();
            } );
        </script>
    {% endblock %}
{% endblock %}