{% extends 'base.html.twig' %}

{% block title %}Liste Conjoints{% endblock %}

{% block body %}
    <h1>Liste Conjoints</h1>
    <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('conjoints_recherche') }}">
        <div class="input-group">
            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
            <input type="text" name="search" class="form-control" placeholder="Search...">
        </div>
    </form>
    <a href="{{ path('conjoints_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
    <table id="user_liste" class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                {# <th>Rang</th> #}
                <th>Nom</th>
                <th>Prénom</th>
                <th>Conjoint</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                {# <th>Nom du père</th> #}
                {# <th>Nom de la mère</th> #}
                <th>Sexe</th>
                {# <th>Date de mariage</th> #}
                <th>Numéro CIN</th>
                {# <th>Date CIN</th> #}
                {# <th>Lieu CIN</th> #}
                {# <th>Reférence de l'autorisation de mariage</th> #}
                {# <th>Date reférence de l'autorisation de mariage</th> #}
                {# <th>Lieu de mariage</th> #}
                {# <th>Reférence officiel du mariage</th> #}
                {# <th>Date reférence officiel du mariage</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conjoint in conjoints %}
            <tr>
                {# <td>{{ conjoint.id }}</td> #}
                {# <td>{{ conjoint.rang }}</td> #}
                <td>{{ conjoint.nom }}</td>
                <td>{{ conjoint.prenom }}</td>
                <td>{{ conjoint.personnel }}</td>
                <td>{{ conjoint.dateNaissance ? conjoint.dateNaissance|date('d/m/Y') : '' }}</td>
                <td>{{ conjoint.lieuNaissance }}</td>
                {# <td>{{ conjoint.nomPere }}</td> #}
                {# <td>{{ conjoint.nomMere }}</td> #}
                <td>{{ conjoint.sexe ? 'Féminin' : 'Masculin' }}</td>
                {# <td>{{ conjoint.dateMariage ? conjoint.dateMariage|date('d/m/Y') : '' }}</td> #}
                <td>{{ conjoint.numeroCin }}</td>
                {# <td>{{ conjoint.dateCin ? conjoint.dateCin|date('d/m/Y') : '' }}</td> #}
                {# <td>{{ conjoint.lieuCin }}</td> #}
                {# <td>{{ conjoint.referenceAutorisationMariage }}</td> #}
                {# <td>{{ conjoint.dateReferenceAutorisationMariage ? conjoint.dateReferenceAutorisationMariage|date('d/m/Y') : '' }}</td> #}
                {# <td>{{ conjoint.lieuMariage }}</td> #}
                {# <td>{{ conjoint.referenceOfficielMariage }}</td> #}
                {# <td>{{ conjoint.dateReferenceOfficielMariage ? conjoint.dateReferenceOfficielMariage|date('d/m/Y') : '' }}</td> #}
                <td>
                    <a href="{{ path('conjoints_show', {'id': conjoint.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    {% if is_granted("ROLE_SUPERVISEUR") %}<a href="{{ path('conjoints_edit', {'id': conjoint.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <div class="navigation">
        {{ knp_pagination_render(conjoints) }}
    </div> #}

    <a href="{{ path('conjoints_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>

    {% block javascripts %}
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready( function () {
                $('#user_liste').DataTable();
            } );
        </script>
    {% endblock %}
{% endblock %}
