{% extends 'base.html.twig' %}

{% block title %}Renseignements conjoint(e){% endblock %}

{% block body %}
<div class="card">
    <div class="card-header bg-gradient-primary">
        <h4 class="card-title justify-content-between font-weight-bold">Renseignements conjoint(e)</h4>
    </div>
    <div class="card-comments justify-content-center m-2">
        <div class="row justify-content-center">
            <div class="col-auto justify-content-center">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th class="col-auto">Rang</th>
                            <td class="col-auto">{{ conjoint.rang }}</td>
                        </tr>
                        <tr>
                            <th>Nom et prénoms </th>
                            <td>{{ conjoint.nom }} {{ conjoint.prenom ? conjoint.prenom : '' }}</td>
                        </tr>
                        <tr>
                            <th>Date et lieu de naissance</th>
                            <td>{{ conjoint.dateNaissance ? conjoint.dateNaissance|date('d/m/Y') : '' }} {{ conjoint.lieuNaissance ? ' à ' ~ conjoint.lieuNaissance : '' }}</td>
                        </tr>
                        <tr>
                            <th>Fils/Fille de</th>
                            <td>{{ conjoint.nomPere ? conjoint.nomPere ~ ' et de ': '' }}{{ conjoint.nomMere ? conjoint.nomMere : '' }}</td>
                        </tr>
                        <tr>
                            <th>Numero - date et lieu CIN</th>
                            <td>{{ conjoint.numeroCin ? conjoint.numeroCin ~ ' du ': '' }}{{ conjoint.dateCin ? conjoint.dateCin|date('d/m/Y') : '' }}{{ conjoint.lieuCin ? ' à ' ~ conjoint.lieuCin : '' }}</td>
                        </tr>
                        <tr>
                            <th>Sexe</th>
                            <td>{{ conjoint.sexe ? 'Féminin' : 'Masculin' }}</td>
                        </tr>
                        <tr>
                            <th>Date de mariage</th>
                            <td>{{ conjoint.dateMariage ? conjoint.dateMariage|date('d/m/Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Ref. et date autorisation de mariage</th>
                            <td>{{ conjoint.referenceAutorisationMariage ? conjoint.referenceAutorisationMariage ~ ' du ': '' }}{{ conjoint.dateReferenceAutorisationMariage ? conjoint.dateReferenceAutorisationMariage|date('d/m/Y') : '' }}{{ conjoint.lieuMariage ? ' à ' ~ conjoint.lieuMariage : '' }}</td>
                        </tr>
                        <tr>
                            <th>Ref. et date officiel du mariage</th>
                            <td>{{ conjoint.referenceOfficielMariage ? conjoint.referenceOfficielMariage : '' }}{{ conjoint.dateReferenceOfficielMariage ? ' du ' ~  conjoint.dateReferenceOfficielMariage|date('d/m/Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Commune</th>
                            <td>{{ conjoint.commune }}</td>
                        </tr>
                        <tr>
                            <th>Conjoint</th>
                            <td>{{ conjoint.personnel }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer bg-gradient-white">
        <div class="row">
            <div class="col-1">
                <a href="{{ path('conjoints_index') }}" class="btn btn-sm bg-gradient-primary m-2"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
            </div>
            <div class="col-1">
                <a href="{{ path('conjoints_edit', {'id': conjoint.id}) }}" class="btn btn-sm bg-gradient-success m-2"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>
            </div>
            <div class="col-1 ml-2">
                {{ include('conjoints/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}