{% extends 'base.html.twig' %}

{% block title %}Conjoints{% endblock %}

{% block body %}
    <h1>Conjoints</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conjoint.id }}</td>
            </tr>
            <tr>
                <th>Rang</th>
                <td>{{ conjoint.rang }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ conjoint.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ conjoint.prenom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ conjoint.dateNaissance ? conjoint.dateNaissance|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu de naissance</th>
                <td>{{ conjoint.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Nom du père</th>
                <td>{{ conjoint.nomPere }}</td>
            </tr>
            <tr>
                <th>Nom de la mère</th>
                <td>{{ conjoint.nomMere }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ conjoint.sexe ? 'Féminin' : 'Masculin' }}</td>
            </tr>
            <tr>
                <th>Date de mariage</th>
                <td>{{ conjoint.dateMariage ? conjoint.dateMariage|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Numero CIN</th>
                <td>{{ conjoint.numeroCin }}</td>
            </tr>
            <tr>
                <th>Date CIN</th>
                <td>{{ conjoint.dateCin ? conjoint.dateCin|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu CIN</th>
                <td>{{ conjoint.lieuCin }}</td>
            </tr>
            <tr>
                <th>Reférence de l'autorisation de mariage</th>
                <td>{{ conjoint.referenceAutorisationMariage }}</td>
            </tr>
            <tr>
                <th>Date de reférence de l'autorisation de mariage</th>
                <td>{{ conjoint.dateReferenceAutorisationMariage ? conjoint.dateReferenceAutorisationMariage|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu de mariage</th>
                <td>{{ conjoint.lieuMariage }}</td>
            </tr>
            <tr>
                <th>Reférence officiel du mariage</th>
                <td>{{ conjoint.referenceOfficielMariage }}</td>
            </tr>
            <tr>
                <th>Date de reférence officiel du mariage</th>
                <td>{{ conjoint.dateReferenceOfficielMariage ? conjoint.dateReferenceOfficielMariage|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('conjoints_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('conjoints_edit', {'id': conjoint.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('conjoints/_delete_form.html.twig') }}
{% endblock %}
