{% extends 'base.html.twig' %}

{% block title %}Liste Decisions Radiations Controles{% endblock %}

{% block body %}
    <h1>Liste Decisions Radiations Controles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reférence du decision</th>
                <th>Date de reférence</th>
                <th>Reférence de journal officiel</th>
                <th>Date de journal officiel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for decisions_radiations_controle in decisions_radiations_controles %}
            <tr>
                <td>{{ decisions_radiations_controle.id }}</td>
                <td>{{ decisions_radiations_controle.referenceDecision }}</td>
                <td>{{ decisions_radiations_controle.dateReference ? decisions_radiations_controle.dateReference|date('d/m/Y') : '' }}</td>
                <td>{{ decisions_radiations_controle.referenceJournalOfficiel }}</td>
                <td>{{ decisions_radiations_controle.dateJournalOfficiel ? decisions_radiations_controle.dateJournalOfficiel|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('decisions_radiations_controles_show', {'id': decisions_radiations_controle.id}) }}"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('decisions_radiations_controles_edit', {'id': decisions_radiations_controle.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('decisions_radiations_controles_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
