{% extends 'base.html.twig' %}

{% block title %}Décorations{% endblock %}

{% block body %}
    <h1>Décorations</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ decoration.id }}</td>
            </tr> #}
            <tr>
                <th>Libelle</th>
                <td>{{ decoration.libelle }}</td>
            </tr>
            <tr>
                <th>Abbréviation</th>
                <td>{{ decoration.abbreviation }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ decoration.ordre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('decorations_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('decorations_edit', {'id': decoration.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('decorations/_delete_form.html.twig') }}
{% endblock %}
