{% extends 'base.html.twig' %}

{% block title %}Recompense{% endblock %}

{% block body %}
    <h1>Recompense</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ recompense.id }}</td>
            </tr> #}
            <tr>
                <th>Personnel bénéficiaire</th>
                <td>{{ recompense.personnel }}</td>
            </tr>
                <th>Nature</th>
                <td>{{ recompense.nature }}</td>
            </tr>
                <th>Reférence</th>
                <td>{{ recompense.reference }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ recompense.date ? recompense.date|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Libellé</th>
                <td>{{ recompense.libelle }}</td>
            </tr>
            <tr>
                <th>Autorité délivrant</th>
                <td>{{ recompense.autorite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('recompense_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    <a href="{{ path('recompense_edit', {'id': recompense.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('recompense/_delete_form.html.twig') }}
{% endblock %}
