{% extends 'base.html.twig' %}

{% block title %}Liste Diplomes Personnels{% endblock %}

{% block body %}
    <h1>Liste Diplomes Personnels</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diplomes_personnel in diplomes_personnels %}
            <tr>
                <td>{{ diplomes_personnel.id }}</td>
                <td>{{ diplomes_personnel.numero }}</td>
                <td>{{ diplomes_personnel.date ? diplomes_personnel.date|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('diplomes_personnels_show', {'id': diplomes_personnel.id}) }}"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('diplomes_personnels_edit', {'id': diplomes_personnel.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('diplomes_personnels_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
