{% extends 'base.html.twig' %}

{% block title %}Liste Diplômes Personnels{% endblock %}

{% block body %}
    <h1>Liste Diplômes Personnels</h1>
    <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('diplomes_personnels_recherche') }}">
        <div class="input-group">
            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
            <input type="text" name="search" class="form-control" placeholder="Search...">
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Numéro</th>
                <th>Date</th>
                <th>Diplôme</th>
                <th>Personnel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diplomes_personnel in diplomes_personnels %}
            <tr>
                {# <td>{{ diplomes_personnel.id }}</td> #}
                <td>{{ diplomes_personnel.numero }}</td>
                <td>{{ diplomes_personnel.date ? diplomes_personnel.date|date('d/m/Y') : '' }}</td>
                <td>{{ diplomes_personnel.diplome }}</td>
                <td>{{ diplomes_personnel.personnel }}</td>
                <td>
                    <a href="{{ path('diplomes_personnels_show', {'id': diplomes_personnel.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('diplomes_personnels_edit', {'id': diplomes_personnel.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(diplomes_personnels) }}
    </div>

    <a href="{{ path('diplomes_personnels_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
