{% extends 'base.html.twig' %}

{% block title %}Diplômes Personnels{% endblock %}

{% block body %}
    <h1>Diplômes Personnels</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ diplomes_personnel.id }}</td>
            </tr> #}
            <tr>
                <th>Numéro</th>
                <td>{{ diplomes_personnel.numero }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ diplomes_personnel.date ? diplomes_personnel.date|date('d/m/Y') : '' }}</td>
            </tr>
                <th>Diplôme</th>
                <td>
                    Intitulé du diplôme : {{ diplomes_personnel.diplome }}<br>
                    Dans le domaine de :{{ diplomes_personnel.diplome.domaine }}<br>
                    Au niveau de : {{ diplomes_personnel.diplome.niveau }}<br>
                    Diplôme militaire : {{ diplomes_personnel.diplome.estDiplomeMilitaire ? 'Oui' : 'Non' }}
                </td>
            </tr>
                <th>Personnel</th>
                <td>{{ diplomes_personnel.personnel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('diplomes_personnels_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('diplomes_personnels_edit', {'id': diplomes_personnel.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('diplomes_personnels/_delete_form.html.twig') }}
{% endblock %}
