{% extends 'base.html.twig' %}

{% block title %}Domaine Diplôme{% endblock %}

{% block body %}
    <h1>Domaine Diplôme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ domaine_diplome.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ domaine_diplome.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('domaine_diplome_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('domaine_diplome_edit', {'id': domaine_diplome.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('domaine_diplome/_delete_form.html.twig') }}
{% endblock %}
