{% extends 'base.html.twig' %}

{% block title %}DomaineDiplome{% endblock %}

{% block body %}
    <h1>DomaineDiplome</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ domaine_diplome.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ domaine_diplome.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('domaine_diplome_index') }}">back to list</a>

    <a href="{{ path('domaine_diplome_edit', {'id': domaine_diplome.id}) }}">edit</a>

    {{ include('domaine_diplome/_delete_form.html.twig') }}
{% endblock %}
