{% extends 'base.html.twig' %}

{% block title %}Liste Décorations Personnels{% endblock %}

{% block body %}
    <h1>Liste Décorations Personnels</h1>
    <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="#">
        <div class="input-group">
            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
            <input type="text" name="search" class="form-control" placeholder="Search...">
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Décoration</th>
                <th>Date</th>
                <th>Reférence</th>
                <th>Date de reférence</th>
                <th>Personnel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for decorations_personnel in decorations_personnels %}
            <tr>
                {# <td>{{ decorations_personnel.id }}</td> #}
                <td>{{ decorations_personnel.decoration }}</td>
                <td>{{ decorations_personnel.date ? decorations_personnel.date|date('d/m/Y') : '' }}</td>
                <td>{{ decorations_personnel.reference }}</td>
                <td>{{ decorations_personnel.dateReference ? decorations_personnel.dateReference|date('d/m/Y') : '' }}</td>
                <td>{{ decorations_personnel.personnel }}</td>
                <td>
                    <a href="{{ path('decorations_personnels_show', {'id': decorations_personnel.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('decorations_personnels_edit', {'id': decorations_personnel.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(decorations_personnels) }}
    </div>

    <a href="{{ path('decorations_personnels_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
