{% extends 'base.html.twig' %}

{% block title %}DecorationsPersonnels index{% endblock %}

{% block body %}
    <h1>DecorationsPersonnels index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Reference</th>
                <th>Date_reference</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for decorations_personnel in decorations_personnels %}
            <tr>
                <td>{{ decorations_personnel.id }}</td>
                <td>{{ decorations_personnel.date ? decorations_personnel.date|date('Y-m-d') : '' }}</td>
                <td>{{ decorations_personnel.reference }}</td>
                <td>{{ decorations_personnel.dateReference ? decorations_personnel.dateReference|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('decorations_personnels_show', {'id': decorations_personnel.id}) }}">show</a>
                    <a href="{{ path('decorations_personnels_edit', {'id': decorations_personnel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('decorations_personnels_new') }}">Create new</a>
{% endblock %}
