{% extends 'base.html.twig' %}

{% block title %}Liste Décorations Personnels{% endblock %}

{% block body %}
    <h1>Liste Décorations Personnels</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Date</th>
                <th>Reférence</th>
                <th>Date de reférence</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for decorations_personnel in decorations_personnels %}
            <tr>
                {# <td>{{ decorations_personnel.id }}</td> #}
                <td>{{ decorations_personnel.date ? decorations_personnel.date|date('d/m/Y') : '' }}</td>
                <td>{{ decorations_personnel.reference }}</td>
                <td>{{ decorations_personnel.dateReference ? decorations_personnel.dateReference|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('decorations_personnels_show', {'id': decorations_personnel.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('decorations_personnels_edit', {'id': decorations_personnel.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('decorations_personnels_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
