{% extends 'base.html.twig' %}

{% block title %}Notes Personnels{% endblock %}

{% block body %}
    <h1>Notes Personnels</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ notes_personnel.id }}</td>
            </tr> #}
            <tr>
                <th>Date de notification</th>
                <td>{{ notes_personnel.dateNote ? notes_personnel.dateNote|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ notes_personnel.note }}</td>
            </tr>
            <tr>
                <th>Appréciation global</th>
                <td>{{ notes_personnel.appreciationGlobal }}</td>
            </tr>
            <tr>
                <th>Reférence de la note</th>
                <td>{{ notes_personnel.referenceNote }}</td>
            </tr>
            <tr>
                <th>Date de la reférence</th>
                <td>{{ notes_personnel.dateReference ? notes_personnel.dateReference|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('notes_personnels_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('notes_personnels_edit', {'id': notes_personnel.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('notes_personnels/_delete_form.html.twig') }}
{% endblock %}
