{% extends 'base.html.twig' %}

{% block title %}Liste Nominations Personnels{% endblock %}

{% block body %}
    <h1>Liste Nominations Personnels</h1>
    <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('nominations_personnels_recherche') }}">
        <div class="input-group">
            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
            <input type="text" name="search" class="form-control" placeholder="Search...">
        </div>
    </form>
    <a href="{{ path('nominations_personnels_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Date de nomination</th>
                {# <th>Rang</{#> #}
                {# <th>Echélon</th> #}
                {# <th>Class</th> #}
                {# <th>Indice</th> #}
                <th>Grade</th>
                <th>Personnel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nominations_personnel in nominations_personnels %}
            <tr>
                {# <td>{{ nominations_personnel.id }}</td> #}
                <td>{{ nominations_personnel.dateNomination ? nominations_personnel.dateNomination|date('d/m/Y') : '' }}</td>
                {# <td>{{ nominations_personnel.rang }}</td> #}
                {# <td>{{ nominations_personnel.echelon }}</td> #}
                {# <td>{{ nominations_personnel.class }}</td> #}
                {# <td>{{ nominations_personnel.indice }}</td> #}
                <td>{{ nominations_personnel.grade }}</td>
                <td>{{ nominations_personnel.personnel }}</td>
                <td>
                    <a href="{{ path('nominations_personnels_show', {'id': nominations_personnel.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('nominations_personnels_edit', {'id': nominations_personnel.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(nominations_personnels) }}
    </div>

    <a href="{{ path('nominations_personnels_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
