{% extends 'base.html.twig' %}

{% block title %}Liste Nominations Personnels{% endblock %}

{% block body %}
    <h1>Liste Nominations Personnels</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Date de nomination</th>
                <{# th>Rang</{#> #}
                {# <th>Echélon</th> #}
                {# <th>Class</th> #}
                {# <th>Indice</th> #}
                <th>Grade</th>
                <th>Personnel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nominations_personnel in nominations_personnels %}
            <tr>
                {# <td>{{ nominations_personnel.id }}</td> #}
                <td>{{ nominations_personnel.dateNomination ? nominations_personnel.dateNomination|date('d/m/Y') : '' }}</td>
                {# <td>{{ nominations_personnel.rang }}</td> #}
                {# <td>{{ nominations_personnel.echelon }}</td> #}
                {# <td>{{ nominations_personnel.class }}</td> #}
                {# <td>{{ nominations_personnel.indice }}</td> #}
                <td>{{ nominations_personnel.grade }}</td>
                <td>{{ nominations_personnel.personnel }}</td>
                <td>
                    <a href="{{ path('nominations_personnels_show', {'id': nominations_personnel.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('nominations_personnels_edit', {'id': nominations_personnel.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nominations_personnels_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
