{% extends 'base.html.twig' %}

{% block title %}Liste Décisions Promotions{% endblock %}

{% block body %}
    <h1>Liste Décisions Promotions</h1>
    <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('decisions_promotions_recherche') }}">
        <div class="input-group">
            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
            <input type="text" name="search" class="form-control" placeholder="Search...">
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Reférence de la décision</th>
                <th>Date de la décision</th>
                <th>Genre de la décision</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for decisions_promotion in decisions_promotions %}
            <tr>
                {# <td>{{ decisions_promotion.id }}</td> #}
                <td>{{ decisions_promotion.referenceDecision }}</td>
                <td>{{ decisions_promotion.dateDecision ? decisions_promotion.dateDecision|date('d/m/Y') : '' }}</td>
                <td>{{ decisions_promotion.genreDecision }}</td>
                <td>
                    <a href="{{ path('decisions_promotions_show', {'id': decisions_promotion.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('decisions_promotions_edit', {'id': decisions_promotion.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(decisions_promotions) }}
    </div>

    <a href="{{ path('decisions_promotions_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
