{% extends 'base.html.twig' %}

{% block title %}Décisions Promotions{% endblock %}

{% block body %}
    <h1>Décisions Promotions</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ decisions_promotion.id }}</td>
            </tr> #}
            <tr>
                <th>Reférence de la décision</th>
                <td>{{ decisions_promotion.referenceDecision }}</td>
            </tr>
            <tr>
                <th>Date de la décision</th>
                <td>{{ decisions_promotion.dateDecision ? decisions_promotion.dateDecision|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Genre de décision</th>
                <td>{{ decisions_promotion.genreDecision }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('decisions_promotions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('decisions_promotions_edit', {'id': decisions_promotion.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('decisions_promotions/_delete_form.html.twig') }}
{% endblock %}
