{% extends 'base.html.twig' %}

{% block title %}Enfants index{% endblock %}

{% block body %}
    <h1>Enfants index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rang</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date_naissance</th>
                <th>Lieu_naissance</th>
                <th>Sexe</th>
                <th>Qualite</th>
                <th>Est_decede</th>
                <th>Date_dece</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enfant in enfants %}
            <tr>
                <td>{{ enfant.id }}</td>
                <td>{{ enfant.rang }}</td>
                <td>{{ enfant.nom }}</td>
                <td>{{ enfant.prenom }}</td>
                <td>{{ enfant.dateNaissance ? enfant.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ enfant.lieuNaissance }}</td>
                <td>{{ enfant.sexe ? 'Yes' : 'No' }}</td>
                <td>{{ enfant.qualite }}</td>
                <td>{{ enfant.estDecede ? 'Yes' : 'No' }}</td>
                <td>{{ enfant.dateDece ? enfant.dateDece|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('enfants_show', {'id': enfant.id}) }}">show</a>
                    <a href="{{ path('enfants_edit', {'id': enfant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('enfants_new') }}">Create new</a>
{% endblock %}
