{% extends 'base.html.twig' %}

{% block title %}Liste Enfants{% endblock %}

{% block body %}
    <h1>Liste Enfants</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                {# <th>Rang</th> #}
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Sexe</th>
                {# <th>Qualité</th> #}
                {# <th>Est decedé</th> #}
                {# <th>Date de decé</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enfant in enfants %}
            <tr>
                {# <td>{{ enfant.id }}</td> #}
                {# <td>{{ enfant.rang }}</td> #}
                <td>{{ enfant.nom }}</td>
                <td>{{ enfant.prenom }}</td>
                <td>{{ enfant.dateNaissance ? enfant.dateNaissance|date('d/m/Y') : '' }}</td>
                <td>{{ enfant.lieuNaissance }}</td>
                <td>{{ enfant.sexe ? 'Féminin' : 'Masculin' }}</td>
                {# <td>{{ enfant.qualite }}</td> #}
                {# <td>{{ enfant.estDecede ? 'Oui' : 'Non' }}</td> #}
                {# <td>{{ enfant.dateDece ? enfant.dateDece|date('d/m/Y') : '' }}</td> #}
                <td>
                    <a href="{{ path('enfants_show', {'id': enfant.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('enfants_edit', {'id': enfant.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(enfants) }}
    </div>

    <a href="{{ path('enfants_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
