{% extends 'base.html.twig' %}

{% block title %}Liste Enfants{% endblock %}

{% block body %}
    <h1>Liste Enfants</h1>
    {# <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('enfants_recherche') }}">
        <div class="input-group">
            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
            <input type="text" name="search" class="form-control" placeholder="Search...">
        </div>
    </form> #}
    <a href="{{ path('enfants_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
    <table id="user_liste" class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                {# <th>Rang</th> #}
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Sexe</th>
                <th>Personnel parent</th>
                <th>Observation</th>
                {# <th>Date de decé</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enfant in enfants %}
            <tr>
                {# <td>{{ enfant.id }}</td> #}
                {# <td>{{ enfant.rang }}</td> #}
                <td>{{ enfant.nom }}</td>
                <td>{{ enfant.prenom }}</td>
                <td>{{ enfant.dateNaissance ? enfant.dateNaissance|date('d/m/Y') : '' }}</td>
                <td>{{ enfant.lieuNaissance }}</td>
                <td>{{ enfant.sexe ? 'Féminin' : 'Masculin' }}</td>
                <td>{{ enfant.personnel }}</td>
                <td>{{ enfant.estDecede ? 'est décédé le ' + enfant.dateDece|date('d/m/Y') : 'Aucune observation' }}</td>
                {# <td>{{ enfant.dateDece ? enfant.dateDece|date('d/m/Y') : '' }}</td> #}
                <td>
                    <a href="{{ path('enfants_show', {'id': enfant.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    {% if is_granted("ROLE_SUPERVISEUR") %}<a href="{{ path('enfants_edit', {'id': enfant.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <div class="navigation">
        {{ knp_pagination_render(enfants) }}
    </div> #}

    <a href="{{ path('enfants_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>

    {% block javascripts %}
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready( function () {
                $('#user_liste').DataTable();
            } );
        </script>
    {% endblock %}
{% endblock %}
