{% extends 'base.html.twig' %}

{% block title %}Enfants{% endblock %}

{% block body %}
    <h1>Enfants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enfant.id }}</td>
            </tr>
            <tr>
                <th>Rang</th>
                <td>{{ enfant.rang }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enfant.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ enfant.prenom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ enfant.dateNaissance ? enfant.dateNaissance|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu de naissance</th>
                <td>{{ enfant.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ enfant.sexe ? 'Féminin' : 'Masculin' }}</td>
            </tr>
            <tr>
                <th>Qualité</th>
                <td>{{ enfant.qualite }}</td>
            </tr>
            <tr>
                <th>Est decedé</th>
                <td>{{ enfant.estDecede ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Date_dece</th>
                <td>{{ enfant.dateDece ? enfant.dateDece|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('enfants_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('enfants_edit', {'id': enfant.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('enfants/_delete_form.html.twig') }}
{% endblock %}
