{% extends 'base.html.twig' %}

{% block title %}Liste Types de Contrats{% endblock %}

{% block body %}
    <h1>Liste Types de Contrats</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for types_contrat in types_contrats %}
            <tr>
                <td>{{ types_contrat.id }}</td>
                <td>{{ types_contrat.type }}</td>
                <td>
                    <a href="{{ path('types_contrats_show', {'id': types_contrat.id}) }}"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('types_contrats_edit', {'id': types_contrat.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('types_contrats_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
