{% extends 'base.html.twig' %}

{% block title %}Types de Contrats{% endblock %}

{% block body %}
    <h1>Types de Contrats</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ types_contrat.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ types_contrat.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('types_contrats_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('types_contrats_edit', {'id': types_contrat.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('types_contrats/_delete_form.html.twig') }}
{% endblock %}
