<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <meta http-equiv="content-type" charset="text/html; UTF-8">
        <title>RHPAIEDGSR - {% block title %}Acceuil{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/dist/images/logo_dgsr.png" />
        <!-- rendre l'interface responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
        <link href="/dist/css/select2.css" rel="stylesheet"/>
        <link href="/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        {# <link rel="stylesheet" href="/css/style.css"> #}
        <link rel="stylesheet" href="/css/notif.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Tempusdominus Bbootstrap 4 -->
        <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- JQVMap -->
        <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="/dist/css/adminlte.min.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
        <!-- summernote -->
        <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.css">

        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
        <link href="/css/personnaliser.css" rel="stylesheet"/>
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">

            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                 <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li  class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i> RESSOURCE HUMAINE - PAIE - DIRECTION GENERAL DE LA SECURITE ROUTIERE</a>
                    </li>                    
                </ul>
                {% if is_granted("ROLE_USER") %}
                    <ul class="navbar-nav ml-auto">
                        <li>
                            {% set pht = '' %}
                            {% for photo in app.user.utilisateur.photos %}  
                                {% set pht = photo %}
                            {% endfor %}                                
                                <img src="/photos/{{ pht }}" alt="{{ app.user.utilisateur }}" class="brand-image img-circle elevation-3" style="opacity: .8; width: 10%;">
                                <strong>{{ app.user.utilisateur }}</strong> &nbsp;
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}" class="btn btn-light"> <i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                        </li>
                    </ul>
                {% endif %}                
            </nav>
            
            <!-- /.navbar -->
            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="#" class="brand-link">
                <img src="/dist/images/logo_dgsr.png" alt="DGSR Logo" class="brand-image img-circle elevation-3" style="opacity: .8;">
                <span class="brand-text font-weight-light">RH-PAIE-DGSR</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-1 pb-1 mb-1">
                    <div class="image">
                        <span class="texte-blanc">
                            {% if is_granted("ROLE_USER") %}
                                {% set pht = '' %}
                                {% for photo in app.user.utilisateur.photos %}  
                                    {% set pht = photo %}
                                {% endfor %}                              
                                    <img src="/photos/{{ pht }}" alt="{{ app.user.utilisateur }}" class="brand-image img-circle elevation-2" style="opacity: .8; width: 22%">{#  class="" #}
                            {% else %}
                                <img src="/dist/img/avatar5.png" alt="User Image"> {#  class="img-circle elevation-2" #}
                            {% endif %}
                        {{ app.user.getUsername() }}</span>
                    </div>
                    <!-- <div class="info text-left" style="vertical-align: middle; align: left;">{#  class="info" width="250px" #}
                        <a href="#" class="">{#  class="d-block" #}
                            {% if is_granted("ROLE_USER") %}
                                {{ app.user.getUsername() }}
                            {% else %}
                                Anonymous user
                            {% endif %} 
                        </a>
                    </div> -->
                </div>

                <div class="sidebar d-flex">
                <nav class="m-0">
                    {% if is_granted("ROLE_USER") %}
                    <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                        <li class="nav-item justify-content-center m-0">
                            <a href="{{ path('dash_board') }}" class="nav-link bg-gradient-navy m-0">
                            <i class="left nav-icon fas fa-desktop"></i>
                                DASHBOARD
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                    {% if is_granted("ROLE_STAFF") %}
                    <nav class="m-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li class="nav-item m-0">
                                <a href="#pers" class="nav-link bg-gradient-primary justify-content-center text-white m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fa fa-search"></i>{# fa-users-cog #}
                                    <p>CONSULTATIONS<i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="pers" class="nav nav-treeview m-0">
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('consultation_centre') }}" class="nav-link m-0">
                                            <i class="nav-icon fa fa-search-location"></i>
                                            <p> Par centre </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('consultation_personnel_militaire') }}" class="nav-link">
                                            <i class="nav-icon fa fa-user-astronaut"></i>
                                            <p> Personnel militaire</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('consultation_personnel_civil') }}" class="nav-link">
                                            <i class="nav-icon fa fa-search-minus"></i>
                                            <p> Personnel civil </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('analyse_personnel') }}" class="nav-link">
                                            <i class="nav-icon fa fa-search-plus"></i>
                                            <p> Tout personnel </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% if is_granted('ROLE_PERSONNEL') %}
                    <nav class="m-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li class="nav-item m-0">
                                <a href="#pers" class="nav-link bg-gradient-info justify-content-center text-white m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fa fa-pen-square"></i>
                                    <p>MAJ FICHE INDIV.<i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="pers" class="nav nav-treeview m-0">
                                    <li class="nav-item m-0">
                                        <a href="{{ path('saisie_fiche_etat_civil') }}" class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-adjust"></i>
                                            <p> Fiche individuelle </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% if is_granted('ROLE_PERSONNEL') %}
                    <nav class="m-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li class="nav-item m-0">
                                <a href="#pers" class="nav-link bg-gradient-white justify-content-center text-primary m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fas fa-users"></i>{# fa-users-cog #}
                                    <p>PERSONNELS<i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="pers" class="nav nav-treeview m-0">
                                    <li class="nav-item m-0">
                                        <a href="{{ path('personnels_index') }}" class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-person-booth"></i>
                                            <p> Etats civils personnel </p>
                                        </a>
                                    </li>
                                    <li class="nav-item m-0">
                                        <a href="{{ path('photos_index') }}" class="nav-link m-0">
                                            <i class="nav-icon fas fa-camera"></i>
                                            <p> Photo </p>
                                        </a>
                                    </li>
                                    <li class="nav-item m-0">
                                        <a href="{{ path('enfants_index') }}" class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-child"></i>
                                            <p> Enfant(s) </p>
                                        </a>
                                    </li>
                                    <li class="nav-item m-0">
                                        <a href="{{ path('conjoints_index') }}" class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-heart"></i>
                                            <p> Conjoint(e)s </p>
                                        </a>
                                    </li>
                                    <li class="nav-item m-0">
                                        <a href="{{ path('fonctions_conjoints_index') }}" class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-business-time"></i>
                                            <p> Fonctions conjoint(e)s </p>
                                        </a>
                                    </li>
                                    <li class="nav-item m-0">
                                        <a href="{{ path('permissions_index') }}" class="nav-link m-0">
                                            <i class="nav-icon fa fa-pause-circle"></i>
                                            <p> Permissions </p>
                                        </a>
                                    </li>
                                    <li class="nav-item m-0">
                                        <a href="{{ path('ex_conjoints_index') }}" class="nav-link m-0">
                                            <i class="nav-icon fa fa-not-equal"></i>
                                            <p> Ruptures conjugales </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% if is_granted("ROLE_PERSONNEL") %}
                    <nav class="mt-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li  class="nav-item m-0">
                                <a href="#affect" class="nav-link bg-gradient-white justify-content-center text-primary m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fa fa-map-marked"></i>
                                    <p>MUTATIONS<i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="affect" class="nav nav-treeview m-0">
                                    <li class="nav-item m-0">
                                        <a href="{{ path('affectations_personnels_index') }}" class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-map"></i>
                                            <p> Affectations </p>
                                        </a>
                                    </li>
                                    <li class="nav-item m-0">
                                        <a href="{{ path('decisions_affectations_index') }}" class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-calendar"></i>
                                            <p> Décisions effectation </p>
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item m-0">
                                        <a href="{{ path('fonctions_index') }}" class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-box"></i>
                                            <p> Fonctions </p>
                                        </a>
                                    </li>
                                    <li class="nav-item m-0">
                                        <a href="{{ path('unites_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-school"></i>
                                            <p> Unités </p>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% if is_granted("ROLE_PERSONNEL") %}
                    <nav class="mt-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li  class="nav-item m-0">
                                <a href="#affect" class="nav-link bg-gradient-white justify-content-center text-primary m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fa fa-book-reader"></i>
                                    <p>FORMATIONS<i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="affect" class="nav nav-treeview m-0">
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('diplomes_personnels_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-file"></i>
                                            <p> Diplômes du personnel </p>
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('diplomes_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-certificate"></i>
                                            <p> Diplôme </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('domaine_diplome_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-calendar-check"></i>
                                            <p> Domaine diplôme </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('niveau_diplome_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-book-medical"></i>
                                            <p> Niveau diplôme </p>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% if is_granted("ROLE_MILITAIRE") %}
                    <nav class="mt-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li  class="nav-item m-0">
                                <a href="#affect" class="nav-link bg-gradient-white justify-content-center text-primary m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fas fa-angle-double-up"></i>
                                    <p>AVANCEMENTS<i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="affect" class="nav nav-treeview m-0">
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('nominations_personnels_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-medal"></i>
                                            <p> Avancements pers. </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('decisions_promotions_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-bookmark"></i>
                                            <p> Déc. d'avancement </p>
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('grades_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-graduation-cap"></i>
                                            <p> Grades </p>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <nav class="mt-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li  class="nav-item m-0">
                                <a href="#affect" class="nav-link bg-gradient-white justify-content-center text-primary m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fa fa-check-double"></i>
                                    <p>NOTATIONS <i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="affect" class="nav nav-treeview m-0">
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('notes_personnels_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-clipboard-check"></i>
                                            <p> Notes personnel </p>
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_SUPERVISEUR') %}
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('notes_p_o_s_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-notes-medical"></i>
                                            <p> Notes officiers </p>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% if is_granted('ROLE_PERSONNEL') %}
                    <nav class="mt-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li  class="nav-item m-0">
                                <a href="#pers" class="nav-link bg-gradient-white justify-content-center text-primary m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fa fa-award"></i>
                                    <p>DECORATIONS<i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="pers" class="nav nav-treeview m-0">
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('decorations_personnels_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-meteor"></i>
                                            <p> Décorations personnel </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('decorations_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon icon-sm fa fa-table"></i>
                                            <p> Types décoration(s) </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% if is_granted('ROLE_PERSONNEL') %}
                    <nav class="mt-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li  class="nav-item m-0">
                                <a href="#pers" class="nav-link bg-gradient-white justify-content-center text-primary m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fa fa-eject"></i>
                                    <p>RADIATIONS <i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="pers" class="nav nav-treeview m-0">
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('radiations_personnels_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-eraser"></i>
                                            <p> Radiations personnel(s) </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('decisions_radiations_controles_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-paragraph"></i>
                                            <p> Déc. radiation </p>
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('details_motifs_radiations_controles_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-angle-double-right"></i>
                                            <p> Détail motif radiation </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('motifs_radiations_controles_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fas fa-angle-double-left"></i>
                                            <p> Motif radiation </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('droits_pensions_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fas fa-money-bill-wave"></i>
                                            <p> Droit pension </p>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% if is_granted('ROLE_PERSONNEL') %}
                    <nav class="mt-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li  class="nav-item m-0">
                                <a href="#pers" class="nav-link bg-gradient-white justify-content-center text-primary m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fa fa-recycle"></i>
                                    <p>REINTEGRATIONS <i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="pers" class="nav nav-treeview m-0">
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('reintegration_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-passport"></i>
                                            <p> Réintegration pers. </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('decision_reintegration_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-arrow-up"></i>
                                            <p> Déc. réintegration </p>
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('motif_reintegration_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-link"></i>
                                            <p> Motif réintegration </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('details_motifs_reintegration_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-adjust"></i>
                                            <p> Détail motif réintegrat° </p>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% if is_granted('ROLE_PERSONNEL') %}
                    <nav class="mt-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li  class="nav-item m-0">
                                <a href="#pers" class="nav-link bg-gradient-white justify-content-center text-primary m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fa fa-envelope-open-text"></i>
                                    <p>L.F. & PUNITIONS <i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="pers" class="nav nav-treeview m-0">
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('recompense_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-layer-group"></i>{#  fa-file-archive #}
                                            <p> Recompenses personnel </p>
                                        </a>
                                    </li> 
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('punitions_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-table"></i>
                                            <p> Punitions personnel </p>
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('nature_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-seedling"></i>
                                            <p> Natures recompenses </p>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% if is_granted('ROLE_PERSONNEL') %}
                    <nav class="mt-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li  class="nav-item m-0">
                                <a href="#pers" class="nav-link bg-gradient-white justify-content-center text-primary m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fa fa-notes-medical"></i>
                                    <p> SIT. SANITAIRES <i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="pers" class="nav nav-treeview m-0">
                                    <li class="nav-item">
                                        <a href="{{ path('situation_sanitaire_index') }}" class="nav-link">
                                            <i class="nav-icon fa fa-clinic-medical"></i>
                                            <p> Situation sanitaire </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('proche_index') }}" class="nav-link">
                                            <i class="nav-icon fa fa-user-friends"></i>
                                            <p> Famille proche </p>
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item">
                                        <a href="{{ path('suivie_apres_traitement_index') }}" class="nav-link">
                                            <i class="nav-icon fa fa-briefcase-medical"></i>
                                            <p> Suivie après traitement</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('frequence_traitement_index') }}" class="nav-link">
                                            <i class="nav-icon fa fa-laptop-medical"></i>
                                            <p> Fréquence traitement </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('type_maladie_index') }}" class="nav-link">
                                            <i class="nav-icon fa fa-file-medical"></i>
                                            <p> Type de maladie </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('type_traitement_index') }}" class="nav-link">
                                            <i class="nav-icon fa fa-medkit"></i>
                                            <p> Type de traitement </p>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <nav class="mt-0">
                        <ul class="nav nav-sidebar flex-column m-0" data-widget="treeview" role="menu" data-accordion="false">{#  nav-pills #}
                            <li  class="nav-item m-0">
                                <a href="#admin" class="nav-link bg-gradient-white justify-content-center text-warning m-0" data-accordion="false">
                                    <i class="nav-icon icon-sm fa fa-lock"></i>
                                    <p>ADMINISTRATEURS <i class="right fas fa-angle-double-down"></i></p>
                                </a>
                                <ul id="admin" class="nav nav-treeview m-0">
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('provinces_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-globe-americas"></i>
                                            <p> Province </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('regions_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-globe-africa"></i>
                                            <p> Region </p>
                                        </a>
                                    </li>
                                     <li  class="nav-item m-0">
                                        <a href="{{ path('districts_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-globe-asia"></i>
                                            <p> District </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('communes_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-globe-europe"></i>
                                            <p> Commune </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('types_communes_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-location-arrow"></i>
                                            <p> Type de commune </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('types_contrats_index') }}"  class="nav-link m-0">
                                            <i class="nav-icon fa fa-signature"></i>
                                            <p> Type de contrat </p>
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('user_index') }}"  class="nav-link m-0 bg-gradient-danger">
                                            <i class="nav-icon fa fa-user"></i>
                                            <p> Utilisateurs </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('roles_new') }}"  class="nav-link m-0 bg-gradient-danger">
                                            <i class="nav-icon fa fa-robot"></i>
                                            <p> Rôles </p>
                                        </a>
                                    </li>
                                    <li  class="nav-item m-0">
                                        <a href="{{ path('logo') }}"  class="nav-link m-0 bg-gradient-danger">
                                            <i class="nav-icon fa fa-id-badge"></i>
                                            <p> Logo </p>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                </nav>
                <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>

            <div class="content-wrapper" style="padding:10px">{% block body %}{% endblock %}</div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <strong>Copyright &copy; 2019-2020 DGSR / DT / SIT.</strong>
                All rights reserved.
                <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
                </div>
            </footer>
        </div>
        <!-- jQuery -->
        <script src="plugins/jquery/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="http://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>
        <script src="/dist/js/select2.js"></script>
        <script src="/dist/js/up.js"></script>
        <script src="/dist/js/bootstrap.min.js"></script>
        <script src="/dist/js/jquery.uploadfile.js"></script>
        <!-- inject:js -->
        <script src="/js/off-canvas.js"></script>
        <script src="/js/misc.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
        <script src="/js/notif.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
        $.widget.bridge('uibutton', $.ui.button)
        </script>
        <!-- Bootstrap 4 -->
        <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- ChartJS -->
        <script src="/plugins/chart.js/Chart.min.js"></script>
        <!-- Sparkline -->
        <script src="/plugins/sparklines/sparkline.js"></script>
        <!-- JQVMap -->
        <script src="/plugins/jqvmap/jquery.vmap.min.js"></script>
        <script src="/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
        <!-- daterangepicker -->
        <script src="/plugins/moment/moment.min.js"></script>
        <script src="/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <!-- Summernote -->
        <script src="/plugins/summernote/summernote-bs4.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->
        <script src="/dist/js/adminlte.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="/dist/js/pages/dashboard.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="/dist/js/demo.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready( function () {
                $('#user_liste').DataTable();
            } );
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
