{% extends 'base.html.twig' %}

{% block title %}Liste Punitions{% endblock %}

{% block body %}
    <h1>Liste Punitions</h1>
    <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('punitions_recherche') }}">
        <div class="input-group">
            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
            <input type="text" name="search" class="form-control" placeholder="Search...">
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Personnel</th>
                <th>Libelle</th>
                {# <th>Reférence</th> #}
                {# <th>Date de reférence</th> #}
                <th>Date d'effet</th>
                {# <th>Sanction</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for punition in punitions %}
            <tr>
                {# <td>{{ punition.id }}</td> #}
                <td>{{ punition.personnel }}</td>
                <td>{{ punition.libelle }}</td>
                {# <td>{{ punition.reference }}</td> #}
                {# <td>{{ punition.dateReference ? punition.dateReference|date('d/m/Y') : '' }}</td> #}
                <td>{{ punition.dateEffet ? punition.dateEffet|date('d/m/Y') : '' }}</td>
                {# <td>{{ punition.sanction }}</td> #}
                <td>
                    <a href="{{ path('punitions_show', {'id': punition.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('punitions_edit', {'id': punition.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(punitions) }}
    </div>

    <a href="{{ path('punitions_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
