{% extends 'base.html.twig' %}

{% block title %}Punitions{% endblock %}

{% block body %}
    <h1>Punitions</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ punition.id }}</td>
            </tr> #}
            <tr>
                <th>Libelle</th>
                <td>{{ punition.libelle }}</td>
            </tr>
            <tr>
                <th>Reférence</th>
                <td>{{ punition.reference }}</td>
            </tr>
            <tr>
                <th>Date de reférence</th>
                <td>{{ punition.dateReference ? punition.dateReference|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de l'effet</th>
                <td>{{ punition.dateEffet ? punition.dateEffet|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Sanction</th>
                <td>{{ punition.sanction }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('punitions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('punitions_edit', {'id': punition.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('punitions/_delete_form.html.twig') }}
{% endblock %}
