{% extends 'base.html.twig' %}

{% block title %}Liste Radiations Personnels{% endblock %}

{% block body %}
    <h1>Liste Radiations Personnels</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Personnel</th>
                <th>Date de notification</th>
                <th>Lieu de repli</th>
                <th>Date de radiation</th>
                {# <th>Date prévu de radiation</th> #}
                {# <th>Reférence mrc radiation</th> #}
                {# <th>Date de mrc radiation</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for radiations_personnel in radiations_personnels %}
            <tr>
                {# <td>{{ radiations_personnel.id }}</td> #}
                <td>{{ radiations_personnel.personnel }}</td>
                <td>{{ radiations_personnel.dateNotification ? radiations_personnel.dateNotification|date('d/m/Y') : '' }}</td>
                <td>{{ radiations_personnel.lieuRepli }}</td>
                <td>{{ radiations_personnel.dateRadiation ? radiations_personnel.dateRadiation|date('d/m/Y') : '' }}</td>
                {# <td>{{ radiations_personnel.datePrevuRadiation ? radiations_personnel.datePrevuRadiation|date('d/m/Y') : '' }}</td> #}
                {# <td>{{ radiations_personnel.referenceMrcRadiation }}</td> #}
                {# <td>{{ radiations_personnel.dateMrcRadiation ? radiations_personnel.dateMrcRadiation|date('d/m/Y') : '' }}</td> #}
                <td>
                    <a href="{{ path('radiations_personnels_show', {'id': radiations_personnel.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('radiations_personnels_edit', {'id': radiations_personnel.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(radiations_personnels) }}
    </div>

    <a href="{{ path('radiations_personnels_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer</a>
{% endblock %}
