{% extends 'base.html.twig' %}

{% block title %}Radiations Personnels{% endblock %}

{% block body %}
    <h1>Radiations Personnels</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ radiations_personnel.id }}</td>
            </tr>
            <tr>
                <th>Date de notification</th>
                <td>{{ radiations_personnel.dateNotification ? radiations_personnel.dateNotification|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu de repli</th>
                <td>{{ radiations_personnel.lieuRepli }}</td>
            </tr>
            <tr>
                <th>Date de radiation</th>
                <td>{{ radiations_personnel.dateRadiation ? radiations_personnel.dateRadiation|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date prévu de radiation</th>
                <td>{{ radiations_personnel.datePrevuRadiation ? radiations_personnel.datePrevuRadiation|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Reférence mrc de la radiation</th>
                <td>{{ radiations_personnel.referenceMrcRadiation }}</td>
            </tr>
            <tr>
                <th>Date mrc de la radiation</th>
                <td>{{ radiations_personnel.dateMrcRadiation ? radiations_personnel.dateMrcRadiation|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('radiations_personnels_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    <br>
    <a href="{{ path('radiations_personnels_edit', {'id': radiations_personnel.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>

    {{ include('radiations_personnels/_delete_form.html.twig') }}
{% endblock %}
