{% extends 'base.html.twig' %}

{% block title %}DetailsMotifsRadiationsControles index{% endblock %}

{% block body %}
    <h1>DetailsMotifsRadiationsControles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Detail_motif_radiation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for details_motifs_radiations_controle in details_motifs_radiations_controles %}
            <tr>
                <td>{{ details_motifs_radiations_controle.id }}</td>
                <td>{{ details_motifs_radiations_controle.detailMotifRadiation }}</td>
                <td>
                    <a href="{{ path('details_motifs_radiations_controles_show', {'id': details_motifs_radiations_controle.id}) }}">show</a>
                    <a href="{{ path('details_motifs_radiations_controles_edit', {'id': details_motifs_radiations_controle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('details_motifs_radiations_controles_new') }}">Create new</a>
{% endblock %}
